{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!{% endblock %}

{% block body %}
    <h1>Todo items</h1>

    <table>

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Due To</th>
            <th>Description</th>
            <th>From</th>
        </tr>
        {% for todo in todos %}
            <tr>
                <td><a href="{{ path('todo_edit', {'id': todo.id}) }}">{{ todo.id }}</a></td>
                <td>{{ todo.name }}</td>
                <td>{{ todo.dueto | date("m/d/Y") }}</td>
                <td>{{ todo.description }}</td>
                <td>{{ todo.getbelongsto() }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
